# Package Files
bin
pkg

.serverless
.idea
.vscode
.DS_Store
.envrc

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
